main {
  width: 100%;
  background-color: aliceblue;

  .loading-div {
    height: max-content;
    width: max-content;
    margin-top: 30vw;
  }

  .loading-img {
    height: 300px;
    width: 300px;

    @media (max-width: 768px) {
      height: 200px;
      width: 200px;
    }
  }
}
